# Java / Spring Boot
/build/
/out/
/.gradle/
/*.iml

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code (falls du parallel nutzt)
.vscode/

# Gradle
.gradle/
build/

# Node / Vue
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# Logs
*.log

# OS-spezifisch
.DS_Store
Thumbs.db
